:root {
  /* COLOR */
  --tosi-green: #3a5d49;
  --tosi-white: #ffffff;
  --tosi-black: #272526;

  /* FONTS */
  --tosi-header: "EB Garamond", serif;
  --tosi-body: "Cormorant Garamond", serif;
}

body {
  background: var(--tosi-white);
  color: var(--tosi-black);
  font-family: var(--tosi-header);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tosi-header);
  font-weight: 700;
}

.text-green {
  color: var(--tosi-green);
}

.cart-icon {
  cursor: pointer;
  color: var(--tosi-green);
  font-size: 2rem;
}
