:root {
  /* COLOR */
  --tosi-green: rgb(58, 93, 73);
  --tosi-white: #ffffff;
  --tosi-black: #272526;

  /* FONTS */
  /*   --tosi-header: "EB Garamond", serif;
  --tosi-body: "Cormorant Garamond", serif; */
}

body {
  background: var(--tosi-white);
  color: var(--tosi-black);
  /*  font-family: var(--tosi-header); */
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--tosi-header); */
  font-weight: 400;
}

.row {
  margin: 0;
}
.text-green {
  color: var(--tosi-green);
}

.cart-icon {
  cursor: pointer;
  color: var(--tosi-green);
  font-size: 2rem;
}

.subtitle {
  font-family: "Great Vibes", cursive;
  font-size: 1.6rem;
  margin: 0 auto;
}

.default-hero {
  /* background: linear-gradient(
    to top,
    rgba(58, 93, 73, 0.3),
    rgba(58, 93, 73, 0.8)
  );
  opacity: 1 !important; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--tosi-green);
}

.tosi-shop-1 {
  background: #ffffff;
}

.contact {
  background-color: rgb(58, 93, 73);
}

.form {
  color: #ffffff;
}

/* SNIPCART */
.snip-header {
  background: #663399 !important;
}
.snip-layout__main-container {
  border: 2px solid black;
  padding: 3px;
}
